.id{
    color: blue;
    text-align: center;
    text-decoration-line: none;
    background-color: red;

}


.newCssDiv{
    padding:10px;
    color:white;
    color:aqua;
    background-color: black;
    width: 60px;
    cursor: pointer;
}